
body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', sans-serif;
  height: 100%;
}
.container {
  max-width: 1000px;
  margin: auto;
}
canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}
.bin-container{
  display: flex;
  justify-content: center;

}
a {
  color: #bbbbc4;
  text-decoration: #bbbbc4;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: Fira Sans;
  font-size: 30px;
}

a:hover {
  color: #fc3565;
}

h1 {
  color: #fc3565;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

h2 {
  color: #555560;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
p{
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Fira Sans';
  font-weight: bold;

  padding: 0px;
  vertical-align: middle;
}

label{
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Fira Sans';
  font-weight: bold;

  padding: 0px;
}

.logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 6rem;
}

.top {
  padding-bottom: 5rem;
}

.pulled {}

.pulled ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.pulled h1 {
  color: white;
  font-size: 3rem;
}

.pulled ul li span{
  font-size:1.2rem;
}

.footer{
  padding-top:5rem;
}

.footer p{
  color:white;
  font-size:1.2rem;
}

.visit{
  color:white;
  font-size:12px;
  background:#32333a;;
  width:146px;
  padding:6px;
  border-radius:10px;
  position:fixed;
  right:20px;
}

span.new {
  background-color: #fc3565;
  font-weight: 700;
  padding: .2rem;
  margin-left: .4rem;
  color: #fff;
}
.bar {
 font-family: "Fira Sans";
}

.bar-inner .mix {
  display: none;
}

ul.bar {
  padding: 0;
  list-style: none;
  margin-top: 30px;
  margin-left: 8px;
  text-align: center;
}

ul.bar li {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 8px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ccc;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

ul.bar li:hover {
  color: #fc3565;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

ul.bar li.active {
  border: none;
  color: #fc3565;
}

.bar .item {
  margin-top: 30px;
  position: relative;
}

.bar .item img {
  border-radius: 10px;
  width: 100%;
}

.item {
  -webkit-transition: .3s;
  transition: .3s;
}

.item:hover {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: .3s;
  transition: .3s;
}

.axis{
  fill: white;
  font-family: "Fira Sans"
}

.axis line {
  stroke: white !important;
  opacity: 0.3;
}

.axis path {
  stroke: white !important;
  opacity: 0.3;
}

.axis text {
  fill: white !important;
  font-size: 13px;
}

.tooltip {
  position: absolute;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  border:solid 1px #32333a;
  padding: 10px;
  background-color:white;
  font-family: "Fira Sans";
  pointer-events: visible;

}

.line {
  //stroke: #E4002B;
  fill: none;
  stroke-width: 3;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
  margin-left: 2em;
  margin-right: 2em;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding:0;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.5rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: "Fira Sans";
  max-width: 4.5rem;
  padding: .5rem;
  border:0;
  text-align: center;
  outline:none;
}
.number-input{
  border: 2px solid #c2c4c6;
}

.link {
  fill: none;
  stroke: #ffffff;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}