
body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', sans-serif;
  height: 100%;
}
.container {
  max-width: 1100px;
  margin: auto;
}
canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}
.bin-container{
  display: flex;
  justify-content: center;

}
a {
  color: #bbbbc4;
  text-decoration: #bbbbc4;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: Fira Sans;
  font-size: 30px;
}

a:hover {
  color: #fc3565;
}

h1 {
  color: #fc3565;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

h2 {
  color: #555560;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}


h3 {
  color: #555560;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}


p{
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Fira Sans';
  font-weight: bold;

  padding: 0px;
  vertical-align: middle;
}

label{
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Fira Sans';
  font-weight: bold;

  padding: 0px;
}

.logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 6rem;
}

.top {
  padding-bottom: 4rem;
}

.pulled {}

.pulled ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.pulled h1 {
  color: white;
  font-size: 3rem;
}

.pulled ul li span{
  font-size:1.2rem;
}

.footer{
  padding-top:5rem;
}

.footer p{
  color:white;
  font-size:1.2rem;
}

.visit{
  color:white;
  font-size:12px;
  background:#32333a;;
  width:146px;
  padding:6px;
  border-radius:10px;
  position:fixed;
  right:20px;
}

span.new {
  background-color: #fc3565;
  font-weight: 700;
  padding: .2rem;
  margin-left: .4rem;
  color: #fff;
}
.bar {
 font-family: "Fira Sans";
}

.bar-inner .mix {
  display: none;
}

ul.bar {
  padding: 0;
  list-style: none;
  margin-top: 30px;
  margin-left: 8px;
  text-align: center;
}

ul.bar li {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 8px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ccc;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

ul.bar li:hover {
  color: #fc3565;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

ul.bar li.active {
  border: none;
  color: #fc3565;
}

.bar .item {
  margin-top: 30px;
  position: relative;
}

.bar .item img {
  border-radius: 10px;
  width: 100%;
}

.item {
  -webkit-transition: .3s;
  transition: .3s;
}

.item:hover {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: .3s;
  transition: .3s;
}

.axis{
  fill: white;
  font-family: "Fira Sans"
}

.axis line {
  stroke: white !important;
  opacity: 0.3;
}

.axis path {
  stroke: white !important;
  opacity: 0.3;
}

.axis text {
  fill: white !important;
  font-size: 13px;
}

.tooltip {
  position: absolute;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  border:solid 1px #32333a;
  padding: 10px;
  background-color:white;
  font-family: "Fira Sans";
  pointer-events: visible;

}

.line {
  //stroke: #E4002B;
  fill: none;
  stroke-width: 3;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
  margin-left: 2em;
  margin-right: 2em;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding:0;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.5rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: "Fira Sans";
  max-width: 4.5rem;
  padding: .5rem;
  border:0;
  text-align: center;
  outline:none;
}
.number-input{
  border: 2px solid #c2c4c6;
}

.link {
  fill: none;
  stroke: #ffffff;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

hr{
  background-color: transparent;
}

select{
  display: inline-block;
  padding: 2px 5px 0px 5px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;


  text-indent: 1px;
  text-overflow: '';

}

.selects-wrapper {
  width: 50%;
  align-items: center;
  display: inline-flex;
}
.radar-chart-container{
  width: 350px;
  display: inline-flex;

}

/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

/* LC Select - Light theme - by LCweb */


/* container */
.lcslt {
  border: 1px solid #aaa;
  background: #fafafa;
  border-radius: 2px;
  transition: all .25s ease;
}
.lcslt:not(.lcslt-disabled):hover,
.lcslt.lcslt_dd-open,
#lc-select-dd {
  border-color: #8f8f8f;
  background: #fefefe;
}
.lcslt.lcslt_dd-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.lcslt-opt {
  background: #bbb;
  border-radius: 3px;
}
.lcslt:not(.lcslt-multiple):after {
  border-top-color: #888 !important;
}
.lcslt:not(.lcslt-multiple):hover:after,
.lcslt.lcslt_dd-open:not(.lcslt-multiple):after {
  border-top-color: #666 !important;
}
.lcslt:not(.lcslt-multiple) > span {
  padding: 2px 0;
}
.lcslt.lcslt-multiple > span:not(.lcslt-multi-callout) {
  padding: 3px 0 6px;
}
.lcslt:not(.lcslt-multiple) > span:not(.lcslt-placeholder) {
  font-size: 90%;
}
.lcslt > span:not(.lcslt-placeholder):not(.lcslt-multi-callout),
#lc-select-dd li {
  color: #484848;
}


/* disabled status */
.lcslt.lcslt-disabled {
  background: #f4f4f4;
}
.lcslt.lcslt-disabled:not(.lcslt-multiple):after {
  border-top-color: #aaa !important;
}
.lcslt.lcslt-disabled:not(.lcslt-multiple) > span {
  color: #848484;
}
.lcslt.lcslt-disabled .lcslt-multi-selected {
  color: #666;
  padding-left: 9px;
}
.lcslt.lcslt-disabled .lcslt-multi-selected:before {
  display: none;
}


/* multi-option selected items */
.lcslt-multiple {
  font-size: 0.95rem !important;
}
.lcslt-multi-selected,
.lcslt-multi-callout {
  padding: 3px 9px 3px 7px;
  background: #e5e5e5;
  color: #494949;
  border-radius: 50px;
  margin: 0 5px 5px 0;
  transition: all .3s ease;
}
.lcslt-multi-callout {
  padding: 0.75rem 0.4581rem;
  font-family: arial;
  border-radius: 50%;
  font-size: 1rem;
}
.lcslt:not(.lcslt-disabled) .lcslt-multi-selected:hover,
.lcslt:not(.lcslt-disabled) .lcslt-multi-callout:hover {
  background: #ddd;
  color: #3f3f3f;
}
.lcslt-multi-selected:before {
  padding-right: 6px;
}
.lcslt-placeholder {
  color: #888;
  transform: scale(0.9) translate3d(-5%, -5%, 0);
}


/* dropdown */
#lc-select-dd {
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px;
  border-style: solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}
#lc-select-dd li {
  border: none;
  border-top: 1px solid #ddd;
}
.lcslt-search-li {
  border-bottom: 2px dotted #bababa !important;
  box-shadow: 0 1px 0 #fff;
}
.lcslt-search-li input {
  font-size: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 0.8rem;
  color: #888;
  background: #fefefe;
}
.lcslt-search-li input:hover,
.lcslt-search-li input:active,
.lcslt-search-li input:focus,
.lcslt-is-searching .lcslt-search-li input {
  color: inherit;
}
.lcslt-search-li:before {
  background: #666;
}
#lc-select-dd li span {
  padding: 7px 12px;
  font-size: 0.8rem;
}
#lc-select-dd li img {
  padding-right: 7px;
}
.lcslt-group-name {
  font-weight: bold;
}
.lcslt-group-opts > li {
  padding-left: 12px;
}
.lcslt-dd-opt {
  transition: all .15s ease;
  color: #6f6f6f;
}
#lc-select-dd li.lcslt-dd-opt:not(.lcslt-disabled):not(.lcslt-selected):hover,
#lc-select-dd .lcslt-dd-opt-hlight {
  color: #333;
  background: #d7eeff;
}
#lc-select-dd li.lcslt-dd-opt.lcslt-disabled {
  background: #ededed;
  color: #777;
}
#lc-select-dd li.lcslt-selected {
  color: #fff;
  background: #0078d7;
  text-shadow: 0 0 2px rgba(0,0,0,0.15);
}
#lc-select-dd li.lcslt-selected.lcslt-dd-opt-hlight {
  box-shadow: 6px 0 0 #89caff inset;
}
.lcslt-is-searching li.lcslt-group,
.lcslt-no-results {
  border: none !important;
}
.lcslt-no-results {
  color: #777;
  text-align: center;
  padding: 12px;
}


/* images */
.lcslt-img {
  display: inline-block;
  height: 17px;
  width: 20px;
  margin-right: 7px;
}
